*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    height: 100vh;
    width: 100%;
}
#heading{
    color:black;
    font-size: 50px;
    display: inline;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}
.container{
    background-color: #7fffd4;
    padding: 50px;
    height: 100vh;
    text-align: center;
    padding-top: 200px;
}
.box{
    padding: 40px;
}
button{
    background-color:bisque;
    transition: all linear 0.2s;
}
button:active{
    transform: scale(0.9);
    transition: all linear 0.2s;
}
.randomBtn,.applyBtn{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}
#colorInput{
     padding: 15px 0px 15px  50px;
     font-size: 1.5rem;
     border: none;
     border-radius: 5px;
}
.currColor{
     color:black;
    font-size: 30px;
    display: inline;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}