* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search-box button {
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  width: 60px;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
  padding-top: 5px;
}
.search-box button img {
    width: 18px;  
}
.weather-icon{
    margin-top: 40px;
    width: 170px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
 
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
    
    gap:10px
}
.col img{
    font-size: 28px;
    width: 40px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    margin-left: 20px;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
    display: none;
}
