* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
  background-color: black;
}
.elem {
  height: 120px;
  width: 100%;
  border-bottom: 2px solid white;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.elem h1 {
  font-size: 5vw;
  position: relative;
  mix-blend-mode: difference;
  z-index: 10;
}
.elem img {
  height: 200px;
  width: 200px;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all ease 0.1s;
  opacity: 0;
}
