* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, #ffa585, #45c5d8);
  color: #fff;
}
.container {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 32px 35px;
  display: flex;
  flex-direction: column;
  background: transparent;
  box-shadow: 8px 8px 4px #909090, 8px 8px 0px #575757;
}
.container h1 {
  font-size: 1.6rem;
  margin-block: 0.5rem;
  color: black;
}
.input-box{
    position: relative;
}
.input-box i{
    position: absolute;
    right:12px;
    top:16px;
    color: black;
    font-size: 1.6rem;
    cursor: pointer;

}
.passBox {
  margin-block: 8px;
  border: none;
  outline: none;
  padding: 10px;
  width: 320px;
  border-radius: 0.23rem;
  font-size: 1.2rem;
  background-color: white;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-block: 10px;
}
.row p,
span {
  font-size: 1.1rem;
}
.row input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.genBtn {
  padding: 12px;
  margin-block: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2c619e;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
   border: 3px solid transparent;
}
.genBtn:hover{
    background-color: #fff;
    transition: 0.3s ease-out;
    border: 3px solid #2c619e ;
    color: #000;
}
