@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,700;1,100;1,400&display=swap");

:root {
  --primary-color: #6a38c2;
  --primary-color-dark: #6132b4;
  --text-dark: #262626;
  --text-light: #737373;
  --extra-light: #e5e5e5;
  --white: #fff;
  --max-width: 1200px;
}
html,
body {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 0;
}
.nav_links li a {
  color: var(--text-dark);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s all ease-in;
}
.nav_links li a:hover {
  color: var(--primary-color);
  transition: 0.3s all ease-out;
}
.nav_links li {
  list-style: none;
}
.nav_logo a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.8rem;
}
.nav_logo span {
  color: #fa6021;
}
.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.menu-toggle i {
  color: var(--text-dark);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.btn {
  padding: 0.8rem 2rem;
  border-radius: 6px;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--primary-color);
  font-size: 1.1rem;
  transition: 0.3s all ease-in;
}
.btn:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
  transition: 0.3s all ease-out;
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  margin-top: 20px;
}
.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.header_container {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 150px;
}
.header_container h2 {
  max-width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #fa6021;
  background-color: #fff8f5;
  border-radius: 5rem;
}
.header_container img {
  width: 25px;
}
.header_container h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  line-height: 5.5rem;
}
.header_container h1 span {
  color: var(--primary-color);
}
.header_container p {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 2rem;
  text-align: center;
}
.header_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}
.header_btns a span {
  padding: 8px 13px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;
  transition: 0.3s;
  margin-right: 10px;
}
.header_btns a {
  text-decoration: none;
}
.header_btns a:hover span {
  box-shadow: 2px 2px 10px rgba(106, 56, 194, 0.5);
}
.header_container > img {
  position: absolute;
  width: 40px;
  padding: 6px;
  background-repeat: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
  border-radius: 100%;
}
.header_container > img:nth-child(1) {
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.header_container > img:nth-child(2) {
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}
.header_container > img:nth-child(3) {
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.header_container > img:nth-child(4) {
  top: 60%;
  left: 20%;
  transform: translateY(-50%);
}
.header_container > img:nth-child(5) {
  top: 70%;
  left: 50%;
  transform: translateY(-50%);
}
.header_container > img:nth-child(6) {
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.steps_container h2 {
  margin-top: 100px;
  margin-bottom: 1rem;
  color: var(--text-dark);
  text-align: center;
  font-size: 2rem;
  line-height: 4.5rem;
  font-size: 3rem;
}
.steps_container h2 span {
  color: var(--primary-color);
}
.section_description {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 2rem;
  text-align: center;
}
.steps {
  background-image: url("assets/steps-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.steps__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
}
.steps__card {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.steps__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 100%;
}
.steps__card:nth-child(1) span {
  color: #fa6021;
  background-color: #fff;
}
.steps__card:nth-child(2) span {
  color: #737373;
  background-color: #fff;
}
.steps__card:nth-child(3) span {
  color: #6132b4;
  background-color: #fff;
}
.steps__card:nth-child(4) span {
  color: #262626;
  background-color: #fff;
}
.steps__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}
.steps__card p {
  color: var(--text-light);
}
.steps__card:nth-child(2n-1) {
  transform: translateY(-2rem);
}
.explore-container {
  margin-bottom: 150px;
}
.section_header {
  font-size: 2rem;
  text-align: center;
}
.section_header span {
  color: var(--primary-color);
}
.explore-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: 60px auto;
}
.explore_card {
  padding: 20px;
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 5px;
}
.explore_card:hover {
  background-color: var(--primary-color);
  color: var(--white);
}
.explore_card h4 {
  font-size: 1.4rem;
  padding: 10px 0;
}
.explore_card p {
  color: var(--text-light);
}
.explore_card:hover p {
  color: var(--white);
}
.explore_card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 6px 11px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.section-para {
  margin-top: 1rem;
}
.explore_card:nth-child(1) span {
  color: #f04a0c;
  background-color: #f6efef;
}

.explore_card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.explore_card:nth-child(3) span {
  color: #ff0101;
  background-color: #fff2f2;
}

.explore__ard:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.explore_card:nth-child(5) span {
  color: #4680e7;
  background-color: #e7edf8;
}

.explore_card:nth-child(6) span {
  color: #34a753;
  background-color: #f1fef5;
}

.explore_card:nth-child(7) span {
  color: #443ee0;
  background-color: #f6f5ff;
}

.explore_card:nth-child(8) span {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.explore_card:hover span {
  color: var(--white);
  background-color: #794cc7;
}
.explore-btn {
  text-align: center;
}
#job-heading {
  font-size: 3rem;
}
.job_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 80%;
  margin: 100px auto;
}
.job_card {
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 7px;
  transition: 0.3s;
}
.job_card:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.job_card_header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.job_header_logo img {
  width: 60px;
  padding: 15px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 6px 5px 20px rgba(0, 0, 0, 0.1);
}
.job_role {
  margin-bottom: 10px;
}
.job_content {
  color: var(--text-light);
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
.job_card:hover .job_content {
  color: rgb(225, 224, 224);
}
.job_role h2 {
  text-align: left;
  margin-top: 10px;
}
.job_comapny_name p {
  color: var(--text-light);
}
.job_card:hover .job_comapny_name p {
  color: rgb(225, 224, 224);
}

.job-salary-info span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 6px 10px;
  border-radius: 5px;
  transition: 0.3s;
}
.job-salary-info span#one {
  color: #4680e7;
  background-color: #f6efef;
}
.job-salary-info span#two {
  color: #f04a0c;
  background-color: #f6efef;
}
.job-salary-info span#three {
  color: #34a753;
  background-color: #f6efef;
}
.offer-container {
  margin-bottom: 100px;
  margin-top: 30px;
}
.offer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 60px auto;
}
.offer-card {
  margin: 20px;
}
.offer-image img {
  width: 370px;
  height: 250px;
  border-radius: 6px;
  background-size: cover;
}
.offer-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: fit-content;
  margin-top: 15px;
}
.vertical-line {
  width: 3px;
  background-color: var(--primary-color);
  height: 87px;
}
.offer-content h2#heading {
  font-size: 3rem;
  text-align: center;
}
.user-info {
  margin-bottom: 150px;
  margin-top: 20px;
}
.swiper {
  padding-top: 4rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
  cursor: pointer;
}
.offer-content p {
  color: var(--text-light);
}
.client-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}
.client-image img {
  width: 90px;
  height: 90px;
  background-size: cover;
  border-radius: 100%;
}
.client-content {
  text-align: center;
  color: #454545;
  padding: 0 30px;
}
.client-stars i {
  color: rgb(208, 177, 1);
}
.client-overview h4 {
  color: var(--text-light);
  margin-top: -30px;
}
.client-overview h3 {
  margin-top: -15px;
}
.footer-section {
  margin-bottom: 100px;
}
.footer-section ul li a {
  text-decoration: none;
  color: var(--text-light);
  transition: 0.2s;
}
.footer-section ul li a:hover {
  color: var(--primary-color);
}
.footer-section ul li {
  list-style: none;
  margin: 25px 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 80%;
  margin: auto;
}
.about-jobhunt p {
  color: var(--text-light);
  padding-top: 30px;
  padding-right: 40px;
}
.about-jobhunt h2 {
  color: var(--primary-color);
}
.about-jobhunt h2 span {
  color: #fa6021;
}
footer p {
  color: var(--text-light);
  text-align: center;
  padding: 10px;
}

@media (max-width: 1280px) {
  .offer-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 60px auto;
    place-items: center;
  }
}

@media (max-width: 1024px) {
  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 60px auto;
    place-items: center;
  }

  .job_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer-image img {
    width: 330px;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
    margin-left: 10px;
  }

  .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--extra-light);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    margin-top: 10px;
    transition: 0.3s;
  }

  .nav_links.active {
    display: flex;
  }

  .menu-toggle i {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: black;
    position: absolute;
    right: 3rem;
    top: 2.5rem;
  }

  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .job_grid {
    grid-template-columns: 1fr;
  }

  .explore-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .offer-grid {
    grid-template-columns: 1fr;
    margin: 60px 0;
    place-items: center;
  }

  .offer-image img {
    width: 330px;
  }
}

@media (max-width: 480px) {
  .steps__grid {
    grid-template-columns: 1fr;
  }

  .steps__card:nth-child(2n-1) {
    margin-top: 3rem;
  }

  .offer-grid {
    grid-template-columns: 1fr;
    padding-left: 20px;
    place-items: center;
  }

  .explore-grid {
    margin: 60px 18px;
  }
}

