body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.search-container {
  text-align: center;
  margin-bottom: 30px;
}

#searchInput {
  padding: 10px;
  width: 60%;
  max-width: 500px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}
.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-details {
  padding: 15px;
}

.card-details h3 {
  margin: 0;
  font-size: 18px;
}

.card-details p {
  color: #555;
  margin-top: 8px;
  font-size: 14px;
}
