@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 99;
  position: fixed;
  margin: auto;
  width: 100%;
}
nav h4 {
  font-weight: 500;
}
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #95c11e;
  position: fixed;
  z-index: 99;
  transform: translate(-50%, -50%);
}
.blur-cursor {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: #4b6601;
  position: fixed;
  transform: translate(-50%, -50%);
  filter: blur(80px);
  z-index: 1;
}
.video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
.main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}
.page1-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
.page1-content h1::before {
  content: "EAT. DRINK. PLAY";
  position: absolute;
  color: #000;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}
.page1-content h1 {
  font-size: 6rem;
  position: relative;
}
.page1-content h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.page1-content p {
  width: 45%;
  font-size: 18px;
}
.page2 {
  width: 100%;
  min-height: 100vh;
  z-index: 10;
}
.scroller {
  margin-top: 30px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
.scroller::-webkit-scrollbar {
  display: none;
}
.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.scroller-in h4 {
  font-size: 120px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 20px;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  gap: 60px;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}
.about-us img {
  object-fit: cover;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
.about-content h3 {
  font-size: 4rem;
  margin-bottom: 30px;
}
.about-content p {
  text-align: center;
}
.cards-container {
  margin-top: 80px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 10;
}
.card {
  height: 85%;
  width: 25%;
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.5s;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
}
.card img {
  object-fit: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

.overlay {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 50px 30px;
  border-radius: 10px;
  transition: all ease 0.5s;
  position: absolute;
  top: 0%;
}
.overlay h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  white-space: nowrap;
  margin-bottom: 20px;
}
.overlay p {
  color: #fff;
  font-size: 18px;
}

.green-div{
  height: 30vh;
  background:linear-gradient(to left bottom ,#455616,#ace022);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-transform: uppercase
}
.page3{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
.page3 p {
  width: 60%;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;

}