* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
  text-align: center;
}
.container {
  text-align: center;
  width: 450px;
  background-color: white;
  margin-left: 200px;
  margin-top: 80px;
  padding: 20px;
  border-radius: 5px;
  box-shadow:3px 3px 5px 5px rgba(122,33,44,0.2) ;
}
.container h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.input input{
    width: 100%;
    padding: 8px 20px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 16px;
    border:1px solid gray;
}
.Directory-card{
    display:flex;
    gap:10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    box-shadow:3px 3px 5px 3px rgba(122,33,44,0.2) ;
}
.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    border: 1px solid red;
}
.user-details{
    display: flex;
    text-align: left;
    flex-direction: column;
}