* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: seagreen;
}
.container {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.container i {
  font-size: 67px;
  color: red;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0) ;
  transition: transform ease 0.4s;
}
