* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  color: #fff;
  padding-top: 10px;
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-nav img {
  width: 70px;
  height: 70px;
}
.left-nav p {
  margin-left: -10px;
}
.right-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.right-nav ul a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
button {
  background-color: #27e0b3;
  border: none;
  outline: none;
  padding:  10px 25px;
  border-radius: 5px;
  font-size: 15px;
}
