*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
}
.smallCursor{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top:0px;
    transform: translate(-50%, -50%);
}
.shadowCursor{
    width:70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    filter: blur(35px);
    position: absolute;
    left: 0px;
    top:0px;
    transform: translate(-50%, -50%);
}