* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: white;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 70px;
}
.changeTheme {
  text-align: right;
  position: absolute;
  right: 2%;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  font-size: 15px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.changeTheme:hover{
    transform: scale(1.05);
    background-color: #a0530f;
}
.light-mode{
    background-color: #fff;
    color: #000;
} 
.dark-mode{
    background-color: #000;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color:#313131;
  color: #e67e22;
}

.search-box button {
  padding: 8px 20px;
  background-color: #e67e22;
  border: none;
  border-radius: 30px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
font-weight: 500;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
}

.movie-card {
  background-color: #1f1f1f;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  color: white;
  width: 350px;
  transition: transform 0.3s ease;
  position: relative; /* add this */
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.movie-card:hover video {
  opacity: 1;
}

.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  background-size: cover;
  display: block;
  position: relative;
  opacity: 1;
}

.movie-info {
  padding: 15px;
  text-align: center;
}
.movie-info p {
  padding-top: 10px;
  font-size: 18px;
}

.movie-title {
  font-size: 1.7rem;
  color: #e67e22;
  text-align: center;
  margin-bottom: 10px;
}
