@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,500;0,700;1,100;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,500;0,700;1,100;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container-main {
  background-color: #3b141c;
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  position: fixed;
  background-color: #3b141c;
  width: 100%;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  transition: 0.3s ease-in-out;
}
.container ul a:hover {
  color: black;
  background-color: #f3961c;
  padding: 0.5rem 0.7rem;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-right ul li {
  list-style: none;
  font-size: 18px;
}
.hero-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.hero-image img {
  width: 600px;
  height: 600px;
  background-size: cover;
  margin-top: 3rem;
}
.hero-content h2 {
  color: #f3961c;
  font-style: italic;
  font-family: "Style Script", cursive;
  font-weight: 500;
  font-size: 3rem;
}
.hero-content h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 550;
}
.hero-content p {
  color: #fff;
  font-size: 1.5rem;
}
.btn button {
  padding: 13px 20px;
  font-size: 1.3rem;
  border-radius: 40px;
  margin: 1rem;
  transition: 0.3s ease-in;
}

.order-btn {
  background-color: #f3961c;
  border: none;
  border: 2px solid transparent;
  padding-bottom: 2rem;
}
.order-btn:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.3s ease-out;
}
.contact-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.contact-btn:hover {
  background-color: #f3961c;
  border: none;
  outline: none;
  border: 2px solid transparent;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/*About us section*/
.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: 80%;
  gap: 11rem;
}
.about-image img {
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 50%;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
}
.about-content h1 {
  border-bottom: 4px solid #f3961c;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icons i {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  transition: 0.3s ease-in;
}
.icons i:hover {
  color: #f3961c;
  cursor: pointer;
  transition: 0.3s ease-out;
}

/*MENU SECTION*/
.our-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
  width: 85%;
  margin: auto;
}
.menu {
  padding-top: 5rem;
  background-color: #252525;
  padding-bottom: 4rem;
}

.heading-menu {
  color: white;
  font-size: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
.heading-menu h1 {
  border-bottom: 4px solid #f3961c;
  padding-bottom: 1.5rem;
  display: inline;
}
.menu-content {
  color: white;
}
.menu-image img {
  width: 300px;
  height: 300px;
}
.menu-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
.menu-content p {
  text-align: center;
  font-size: 1.3rem;
}
.menu-content h1 {
  font-size: 2rem;
}

/*Testimonials section*/
.section-title {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 4px solid #f3961c;
  padding-bottom: 0.5rem;
  display: inline;
}
.testimonials-section {
  padding: 50px 0 100px;
  background-color: #faf4f5;
  text-align: center;
  padding-top: 7rem;
}
.testimonials-section .slider-wrapper {
  overflow: hidden;
  margin: 0 60px 50px;
}
.testimonials-section .testimonial {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 35px;
  margin-top: 2rem;
}
.testimonials-section .testimonial .user-logo {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-bottom: 50px;
  object-fit: cover;
}
.testimonials-section .testimonial .name {
  margin-bottom: 16px;
  font-size: 1.2rem;
}
.testimonials-section .testimonial .feedback {
  line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: #f3961c;
}
.testimonials-section .swiper-slide-button {
  margin-top: -70px;
  color: #f3961c;
  transition: 0.2s ease-in;
  margin-left: 60px;
  margin-right: 60px;
}
.testimonials-section .swiper-slide-button:hover {
  color: #252525;
  transition: 0.2s ease-out;
}

/*Gallery Items*/

.gallery-section .gallery-title h1 {
  text-align: center;
  border-bottom: 4px solid #f3961c;
  padding-bottom: 0.5rem;
  display: inline;
  font-size: 2.5rem;
}
.gallery-title {
  text-align: center;
  padding-top: 5rem;
}

.gallery-section {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 3rem;
}
.gallery-items img {
  height: 350px;
  width: 450px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  cursor: zoom-in;
  transition: 0.3s ease-in;
}
.gallery-items img:hover {
  transform: scale(1.05);
}
.gallery-items {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -2.3rem;
}

/*Style Contact Us*/
.contact-section {
  margin-top: 2rem;
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 2rem;
  background-color: #faf4f5;
  margin-bottom: 2rem;
}
.contact-section h1 {
  text-align: center;
  border-bottom: 4px solid #f3961c;
  padding-bottom: 0.5rem;
  display: inline;
  font-size: 2.5rem;
  padding-top: 2rem;
}
.contact-logo {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}
.contact-main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5rem;
}
.contact-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  gap: 1rem;
  padding-bottom: 20px;
}
.contact-input input {
  padding: 13px;
  padding-right: 157px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.3rem;
}
.contact-input textarea {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 60px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.3rem;
}
.contact-input textarea,
input:focus {
  outline: none;
}
.submit-btn {
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 1.2rem;
  border: none;
  background-color: #3b141c;
  color: white;
  transition: 0.3s ease-in;
}
.submit-btn:hover {
  cursor: pointer;
  background-color: #f3961c;
  color: black;
  transition: 0.3s ease-in-out;
}

/*footer design */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: auto;
  place-items: center;
  text-align: center;
  height: 5rem;
  background-color: #3b141c;
  color: white;
}
.footer-icons i {
  font-size: 1.4rem;
  margin: 0.4rem;
  transition: 0.3s ease-in;
}
.footer-icons i:hover {
  color: #f3961c;
  cursor: pointer;
  transition: 0.3s ease-out;
}

/*Media Queries for Responsive Designing...*/
/*for devices screen size 1280px or smaller than it like small laptops and  tabs*/
@media (max-width: 1280px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-content {
    align-items: center;
    text-align: center;
    height: auto;
    width: 80%;
    margin: auto;
    gap: 1.5rem;
  }
  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-top: -2rem;
  }
  .about-image img {
    width: 700px;
    height: 700px;
    background-size: cover;
    border-radius: 50%;
  }
  .our-menu {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-items {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
    place-items: center;
    padding-right: -2rem;
  }
  .gallery-items img {
    object-fit: cover;
    margin-left: 5px;
  }
}

/* This style applies to devices with width 1024px and below like a big  tabs (1024px or smaller than it)*/
@media (max-width: 1024px) {
   .gallery-items {
    display: grid;
     grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-right: -2rem;
  }
  .gallery-items img {
    width: 350px;
    margin: 5px;
    object-fit: cover;
    margin-left: 5px;
  }
}

/*Responive Style for phones and small tablets (768px or smaller than it)*/
/*NAVBAR*/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: gray;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
    margin-right: -12rem;
  }

  /* HERO SECTION */
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-content {
    align-items: center;
    text-align: center;
    height: auto;
    width: 80%;
    margin: auto;
    gap: 1.5rem;
  }

  .hero-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .btn button {
    margin: 0.5rem;
    font-size: 0.9rem;
  }

  .logo {
    margin-left: -2rem;
  }

  /* ABOUT US */
  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .about-image img {
    width: 350px;
    height: 350px;
    background-size: cover;
    border-radius: 50%;
  }
  .about-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  /*MENU SECTION*/
    .our-menu {
    grid-template-columns: 1fr;
  }
  /* Responsive testmonials section */
  .testimonials-section .slider-wrapper {
    margin: 0 0 30px;
  }

  .testimonials-section .swiper-slide-button {
    width: 5px;
    height: 5px;
  }

  /*GALLERY ITEMS*/
  .gallery-items {
    display: flex;
    flex-direction: column;
    padding-left: 2.2rem;
    align-items: center;
    justify-content: center;
  }
  .gallery-items img {
    height: 370px;
    width: 380px;
    object-fit: cover;
  }
  /*Responsive design for contact section*/
  .contact-main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
  }
}

/*On desktop: show nav always, hide toggle */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .menu-toggle {
    display: none;
  }
}

/*For Small phones( 468px or smaller than it)*/
@media (max-width : 468px) {
  .about-image img {
    width: 270px;
    height: 270px;
    margin-top: 5rem;
  }
   .gallery-items img {
    height: 370px;
    width: 360px;
    object-fit: cover;
  }
  .contact-input input {
  padding: 11px;
  padding-right: 120px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1.3rem;
}
.contact-input textarea {
  padding-right: 30px;
}
}
