* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  mix-blend-mode: difference;
  transition: all ease 0.1s;
}
h1 {
  color: #fff;
  font-size: 13vw;
  font-weight: 800;
}
