* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(100, 83, 61);
}
nav {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  height: 3.5rem;
  padding-top: 12px;
}
.nav-left p {
  font-size: 1.2rem;
}
.brand img {
  width: 30px;
  height: 30px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  gap: 30px;
}
ul li {
  list-style: none;
}
.nav-left li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.container {
  padding: 20px;
  color: #fff;
  background-color: #000;
  width: 70%;
  margin: 10px auto;
  border-radius: 12px;
  padding: 20px;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  object-position: top center;
  background-repeat: no-repeat;
}

.bottom {
  height: 120px;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.icons i {
  color: #fff;
  font-size: 1.7rem;
  padding: 0 10px;
  cursor: pointer;
}
#myProgressBar {
  width: 80%;
  cursor: pointer;
}
.songList {
  display: flex;
  justify-content: space-between;
}
.songItem img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 10px;
  border-radius: 30px;
}
.songItem {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 40px;
  padding-left: 10px;
  margin: 10px 30px;
  width: 100%;
}
.songList i {
  margin-left: 10px;
  cursor: pointer;
  margin-right: 20px;
}
.songList span {
  margin-left: 10px;
}
.songItemContainer {
  margin-top: 40px;
  margin-left: -20px;
}
.songInfo img {
  height: 15px;
  opacity: 0;
  transition: 0.4s all ease-in;
}
.songInfo {
  position: absolute;
  left: 10vw;
}
