* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-height: 100vh;
  background-Image : linear-gradient(to right, #680eb4 , #734b52);
}
.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 3px 5px rgba(18, 5, 5, 0.9);
  padding: 40px;
  border-radius: 8px;
  width: 500px;
  margin: auto;
  background-color: #e6e5e5;
}
.container h1 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 60px;
  color: #fff;
  text-shadow: 2px 3px 5px rgba(26, 97, 196, 0.9);
}

.forms {
  margin: 20px;
  font-size: 2rem;
}
label,
input {
  display: block;
}
input {
  border: none;
  outline: none;
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding: 10px;
  border-radius: 6px;
}
